.checkout {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  margin: 20px 200px;
  height: 100vh;
}
.column_wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.column_wrapper h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 20px 0;
  color: rgba(0, 0, 0, 0.8);
}
.method_pay-form .form_label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.8);
}
.method_pay-form .form_input, .method_pay-form #form_select {
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  margin-bottom: 15px;
  padding: 0 10px;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px #d9d9d9;
  transition: all 0.2s ease-out;
}
.method_pay-form .form_input:focus {
  box-shadow: 0 0 0 2px #338dbc;
  outline: none;
}
.method_pay-form #form_select:focus {
  box-shadow: 0 0 0 2px #338dbc;
  outline: none;
}
.method_pay-form span {
  font-size: 18px;
  font-weight: bold;
  color: #338dbc;
  margin-bottom: 10px;
}
.method_pay-form #form_note {
  font-size: 13px;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  box-shadow: 0 0 0 1px #d9d9d9;
  transition: all 0.2s ease-out;
}
.method_pay-form #form_note:focus {
  box-shadow: 0 0 0 2px #338dbc;
  outline: none;
}
.checkout .your_order {
  padding: 0 40px;
  border-left: 1px solid rgba(0, 0, 0, 0.125);
}